<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.paulograbin.insight" >

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.VIBRATE"/>

    <uses-feature
        android:name="android.hardware.bluetooth_le"
        android:required="true" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <service android:name=".Bluetooth.BluetoothService" />
        <service android:name="org.altbeacon.beacon.service.BeaconService" />

        <activity
            android:name=".Activity.AdminPanelActivity"
            android:label="@string/title_activity_admin_panel" >
        </activity>
        <activity
            android:name=".Activity.DestinySelectionActivity"
            android:label="@string/title_activity_list_places" />
        <activity
            android:name=".Activity.Lists.ListBeacons"
            android:label="@string/title_activity_list_beacons" />
        <activity
            android:name=".Activity.Lists.ListPlaceBeacons"
            android:label="@string/title_activity_list_place_beacons" />
        <activity
            android:name=".Activity.Lists.ListPlacesAll"
            android:label="@string/title_activity_list_places" />
        <activity
            android:name=".Activity.FirstScreenActivity"
            android:label="@string/app_name"
            android:launchMode="singleTop" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activity.Lists.ListPaths"
            android:label="@string/title_activity_list_paths" >
        </activity>
        <activity
            android:name=".Activity.Details.DetailsPlace"
            android:label="@string/title_activity_place_details" >
        </activity>
        <activity
            android:name=".Activity.ListFavoritePlaces"
            android:label="@string/title_activity_list_favorite_places" >
        </activity>
    </application>

</manifest>
